body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Console", Monaco, monospace;
    position: center;

}

section {
  display: -webkit-flex;
  display: flex;
}

header.header {
    list-style: none;
    background-color: dodgerblue;
    text-align: center;
    padding: 0;
    margin: 0;
    position: center;
}

nav li {
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin: 2.5%;

}

nav a {
    text-decoration: none;
    color: whitesmoke;
    display: block;

}

nav a:hover {
    color: white;
    
}

article.left {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ccc;
    padding: 20px;
}

article.right {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
    padding: 10px;
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}