/*basic formatting for text on the website*/
body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  text-align: center;
  overflow-y: auto;
}

/* Center website */
.main {
  max-width: 90%;
  margin: auto;
  position: center;
}

/*images formatting sourced from Corlangs.com: http://www.corelangs.com/css/box/image-shadow.html*/

.img1 {
  border:2px solid #fff;
  background: url(img/duck.png) no-repeat;
  -moz-box-shadow: 0px 6px 5px #ccc;
  -webkit-box-shadow: 0px 6px 5px #ccc;
  box-shadow: 0px 6px 5px #ccc;
  -moz-border-radius:190px;
  -webkit-border-radius:190px;
  border-radius:190px;
}

.img2 {
  border:2px solid #fff;
  background: url(img/tiger.png) no-repeat;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  box-shadow: 10px 10px 5px #ccc;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  border-radius:25px;
}

/*header formatting*/
header.header {
  list-style: none;
  background-color: dodgerblue;
  text-align: center;
  padding: 0;
  margin: 0;
  position: center;
}



ul.cir {
  list-style-type: circle;
}

/*Navigation Bar listed links formatting*/
nav li {
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  margin: 2.5%;
}

/*Nav Bar listed links formatting*/
nav a {
  text-decoration: none;
  color: whitesmoke;
  display: block;
}

/*Nav Bar listed links formatting for hovering*/
nav a:hover {
  color: silver;
}

/*centering and formatting for the footer*/
.abs-center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
